.headline {
    padding-top: 100px;
    padding-bottom: 100px;
}

.headline p {
    font-size: 48px;
    line-height: 69px;
}

.headline a {
    font-size: 20px;
    line-height: 24px;
    position: relative;
    top: 0;
    margin-left: 20px;
}