.block.accordion-block {
    padding: 245px 0 100px;
}

.accordion.ui .content {
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transition: .6s;
    max-height: 0;
}

.accordion.ui .content p {
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
    line-height: 80px;
}

.accordion.ui .content.active {
    opacity: 1;
    visibility: visible;
    height: auto;
    max-height: 2400px;
}

.accordion.ui .title {
    pointer-events: none;
    font-size: 64px;
    line-height: 80px;
}

.accordion.ui .title.active span.textlink {
    opacity: 0;
    visibility: hidden;
}

.accordion.ui .title span:first-child,
.accordion.ui .content span:first-child {
    margin-right: 25px;
    /* padding-bottom: 10px; */
    /* top: -10px; */
}

.accordion.ui .textlink {
    pointer-events: initial;
    font-size: 16px;
}

.block.accordion-block .textlink {
    top: 3px;
}

.block .accordion.ui .textlink span::after {
    /* bottom: -4px; */
}

.block .accordion.ui .textlink:hover span {
    /* top: 0px !important; */
}

/* .block .accordion.ui .textlink:hover span::after {
    bottom: 50;
} */

#home .accordion {
    padding-top: 150px;
    padding-bottom: 200px;
}

@media screen and (max-width: 1024px) {

    .accordion.ui .title,
    .accordion.ui .content p {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 768px) {

    .block.accordion-block {
        padding: 150px 0;
    }

    .accordion.ui .title,
    .accordion.ui .content p {
        font-size: 30px;
        line-height: 40px;
        position: relative;
    }

    .accordion.ui .textlink {
        pointer-events: initial;
        font-size: 16px;
        line-height: 22px;
        position: absolute;
        bottom: -45px;
        top: auto;
        left: 0;
    }
}