/* feature */
#feature {
    /* background: #ffffff; */
    color: hsl(0, 0%, 0%);
    /* transition: all 300ms linear; */

}

#home #feature {
    height: 100vh;
    /* 
    min-height: 650px; */
    padding: 0;
}

#home #feature .headline {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}

#home #feature .headline .wrapper {
    margin-left: 0;
    padding-left: 0;
}

#feature .slick-prev,
#feature .slick-next {
    width: 50vw;
    height: 100vh;
    top: 0;
    transform: none;
    opacity: 0;
    z-index: 1;
}

#feature .slick-next {
    right: 0;
    cursor: url(/swiper-right.svg) 0 0, default;
}

#feature .slick-prev {
    left: 0;
    cursor: url(/swiper-left.svg) 0 0, default;
}

#feature .slick-slide .double-image.flex {
    display: flex !important;
}

#feature .slick-slide .double-image.flex img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

#feature .slick-slide .full-image img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

#feature .feature-logo-wrapper {
    width: calc(100% - 120px);
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

#feature svg.feature-logo {
    display: block;
    z-index: 9999;
    transform: scale(1);
    transform-origin: 0 100%;
    /* transition-timing-function: ease; */
}

#home .giant-logo-wrapper {
    width: calc(100% - 120px);
    margin: auto;
}

#home .giant-logo {
    margin-top: -9999px;
    position: relative;
    top: -50px;
}

@media screen and (min-width: 1600px) {
    #home #feature .headline {
        /* padding-top: 400px;
        padding-bottom: 400px; */
    }

    #feature .headline {
        margin-top: -165px !important;
    }
}

@media screen and (max-width: 1200px) {

    /* feature */
    #feature .text span {
        font-size: 80px;
    }

}


@media screen and (min-width: 1025px) {
    #home #feature .wrapper {
        max-width: 980px;
        padding-left: 0;
    }
}

@media screen and (max-width: 1024px) {

    /* feature */
    #feature .text span {
        font-size: 50px;
    }

}


@media screen and (min-width: 861px) {

    #feature .headline {
        /* margin-top: -15vw; */
        margin-top: 2vw;
    }
}


@media screen and (max-width: 768px) {


    #feature svg.feature-logo {
        transform: none !important;
    }

    #feature .text {
        flex-direction: column;
    }

    #feature .Typewriter {
        padding-left: 0;
        padding-top: 5px;
        min-height: 55px;
    }

    #feature .text span {
        font-size: 50px;
    }

    #feature .scroll {
        bottom: 40px;
        right: 50%;
        margin-right: -20px;
    }

    #home .giant-logo-wrapper {
        width: calc(100% - 60px);
    }

    /* #home .giant-logo {
        top: -135px;
    } */


}

@media screen and (max-width: 860px) {

    #home #feature,
    #home #feature .slick-prev,
    #home #feature .slick-next,
    #home #feature .slick-slide .full-image img,
    #home #feature .slick-slide .double-image.flex img {
        height: auto;
        min-height: 600px;
    }

}

@media screen and (max-width: 768px) {


    #home #feature .headline {
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 25px;
        padding-right: 25px;
    }

    #home #feature .headline .wrapper {
        padding-right: 0;
    }

    #home #feature+div {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {

    /* feature */
    #feature .scroll .vertical-text {
        display: none;
    }

    #feature .scroll {
        bottom: 30px;
    }

    /* #home .giant-logo {
        top: -90px;
    } */


}