.content {
    padding: 100px 0;
}

.content .title {
    font-size: 20px;
    line-height: 33px;
    flex: 0 0 29%;
}

.content li {
    font-size: 32px;
    line-height: 58px;
    list-style: none;
}