#home-capabilities {
    padding-top: 25%;
}

.content {
    padding: 100px 0;
}

.content .title {
    font-size: 20px;
    line-height: 33px;
    flex: 0 0 29%;
}

.content .one-third ul {
    padding: 0 30px;
}

.content li {
    font-size: 32px;
    line-height: 1;
    list-style: none;
    margin-bottom: 27px;
}