/* instagram */
#instagram {
  padding: 0 0 60px !important;
  position: relative;
  z-index: 1;
  /* cursor: none; */
}

#instagram h3 {
  margin-bottom: 60px;
}

#instagram p,
#instagram a {
  font-size: 14px;
  line-height: 1.6;
}

#instagram p+a {
  align-self: flex-start;
}

#instagram .cols {
  margin-bottom: 120px;
}

#instagram .cols:last-child {
  margin-bottom: 0;
}

#instagram .col a {
  display: block;
  max-width: 224px;
  margin: 0 auto;
  background: radial-gradient(farthest-side, black 95%, transparent 100%) calc(var(--x) - 0.25em) calc(var(--y) - 0.25em) / 0.5em 0.5em fixed no-repeat;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#instagram .flex.grid {
  flex-wrap: wrap;
}

#instagram .flex.grid .col {
  width: 20%;
}

#instagram .flex.grid .col .inner {
  padding: 13%;
}

@supports ((display: -ms-grid) or (display: grid)) {
  #instagram .wrapper {
    /* max-width: 1680px; */
  }

  #instagram .flex.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  #instagram .flex.grid .col {
    width: initial;
  }

  #instagram .flex.grid .col .inner {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {

  /* instagram */
  #instagram {
    /* padding: 80px 0; */
  }

  #instagram .cols {
    margin-bottom: 60px;
  }

  #instagram .flex.grid {
    grid-gap: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  #instagram .flex.grid .col:last-child {
    display: none;
  }

  #instagram .flex.grid .col {
    width: 50%;
  }

  @supports ((display: -ms-grid) or (display: grid)) {
    #instagram .flex.grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px !important;
    }

    #instagram .flex.grid .col {
      width: initial;
    }
  }
}

@media screen and (max-width: 480px) {

  /* instagram */
  #instagram {
    padding: 80px 0;
  }

  #instagram .cols {
    margin-bottom: 0;
  }
}

@media screen and (max-height: 768px) {}