/* toggle menu */
#toggle_menu {
  width: 40px;
  height: 22px;
  position: fixed;
  /* top: 60px;
    right: 60px; */
  top: 55px;
  right: 75px;
  padding: 25px;
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
  z-index: 9999999;
}

#toggle_menu .hamburger {
  position: relative;
  top: -15px;
  width: 40px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

#toggle_menu .hamburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#toggle_menu .hamburger span:nth-child(1) {
  top: 0;
}

#toggle_menu .hamburger span:nth-child(2) {
  top: 13px;
}

body.nav-open #toggle_menu .hamburger span:nth-child(1),
body.nav-open #toggle_menu .hamburger span:nth-child(2) {
  top: 3px;
}

#toggle_menu .label {
  display: none;
}

#toggle_menu .hamburger span.black {
  background: #000000 !important;
}

body.nav-open #toggle_menu .hamburger span:nth-child(1) {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

body.nav-open #toggle_menu .hamburger span:nth-child(2) {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.scheme-white #toggle_menu .hamburger span {
  background: #fff !important;
}

.scheme-black #toggle_menu .hamburger span {
  background: #000 !important;
}

/* logo */
#logo {
  /* position: fixed; */
  width: auto;
  top: 60px;
  left: 60px;
  z-index: 99999;
}

body.home #logo {
  display: none;
}

#logo a {
  display: block;
  width: 100%;
  max-width: 60px;
  transition: opacity 0.6s;
  opacity: 1;
  /* transform: scale(.18);
    transform-origin: top left; */
}

#logo a.footer-in-view {
  opacity: 0;
  z-index: -1;
}

#logo svg {
  display: block;
  width: 100%;
  height: 50px;
}

.scheme-white #logo svg {
  fill: #fff;
}

.scheme-black #logo svg {
  fill: #000;
}

/* nav */

#nav-container {
  position: fixed;
  width: 100%;
  padding: 60px;
  z-index: 99999;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

#nav-container:hover:after {
  opacity: 1;
  visibility: visible;
}

#nav-container:after {
  content: "";
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #f5f5f1, rgba(245, 245, 241, 0.65) 40%, rgba(245, 245, 241, 0.01) 95%, rgba(255, 245, 241, 0.02) 97%, rgba(245, 245, 241, 0));
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

/* body.nav-open #nav-container:after {
  opacity: 1;
  visibility: visible;
} */

#nav {
  transition: 0.3s;
}

.nav-open-enter,
.logo-enter {
  opacity: 0;
}

.nav-open-enter.nav-open-enter-active,
.logo-enter.logo-enter-active {
  opacity: 1;
  transition: 500ms ease-in;
}

.nav-open-leave,
.logo-leave {
  opacity: 1;
}

.nav-open-leave.nav-open-leave-active,
.logo-leave.logo-leave-active {
  opacity: 0;
  transition: 300ms ease-in;
}

#nav .wrapper {
  /* padding-right: 146px; */
}

#nav .title {
  /* margin-bottom: 60px; */
}

#nav ul {
  list-style: none;
}

#nav li {
  display: inline-block;
  margin-left: 40px;
}

#nav li:last-child {
  margin-right: 0;
}

#nav li a {
  /* font-size: 14px;
  line-height: 1.6; */
  /* color: #fbf8f5; */
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  display: inline-block;
}

#nav .title li a:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#nav .cols {
  margin: 0 -30px 90px;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .flex.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 60px;
  }

  .flex.grid.four {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .flex.grid .item {
    width: initial !important;
    padding: 0 !important;
    text-decoration: none;
  }
}

#nav .cols:last-child {
  margin-bottom: 0;
}

/* #nav .item {
    padding: 0 30px;
} */

#nav .item {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  color: #fbf8f5;
}

#nav .item img {
  width: 100%;
  margin-bottom: 14px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  #logo {
    z-index: 999999;
    width: 40px;
  }

  #toggle_menu {
    top: 30px;
    right: 30px;
  }

  #toggle_menu,
  #toggle_menu .hamburger {
    width: 30px;
  }

  #nav {
    padding: 150px 0 115px;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background: linear-gradient(180deg,
        #f5f5f1,
        #f5f5f1 83%,
        rgba(255, 245, 241, 0.9) 90%,
        rgba(245, 245, 241, 0.75) 94%,
        rgba(255, 245, 241, 0.65) 96%,
        rgba(255, 245, 241, 0.45) 98%,
        rgba(255, 245, 241, 0.25) 99%,
        rgba(255, 245, 241, 0));
  }

  #nav .wrapper,
  #nav .flex {
    height: 100%;
  }

  #nav .flex {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav li:not(.email) a {
    font-size: 14px;
    line-height: 35px;
  }

  #nav .textlink.email {
    font-size: 14px;
  }

  #logo {
    top: 30px;
    left: 25px;
    /* opacity: 1 !important; */
  }

  #logo a svg {
    width: 40px;
    /* height: 28px; */
    position: relative;
    z-index: 9999;
  }

  @supports ((display: -ms-grid) or (display: grid)) {
    #nav .flex.grid.four {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    #nav .flex.grid.four .item {
      margin-bottom: 20px;
    }
  }

  #nav .wrapper {
    padding: 0 25px;
  }
}

@media screen and (min-width: 769px) {
  #nav+span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #nav-container {
    padding: 25px;
  }
}

@media screen and (max-width: 480px) {

  #toggle_menu,
  #toggle_menu .hamburger {
    width: 30px;
  }
}

@media screen and (max-height: 768px) {}