/* scroller */

#scroller {
  /* overflow: scroll; */
  overflow: hidden;
  position: relative;
  /* height: 745px; */
  height: 40.5vw;
  /* margin-bottom: 25%; */
  z-index: 1;
  /* cursor: url(/cursor.svg) 3 -35, default; */
}

#scroller #cursor {
  background-color: transparent;
  z-index: 1;
}

#scroller a {
  /* cursor: url(/cursor.svg) 3 -35, default !important; */
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller .title-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  z-index: 9;
  pointer-events: none;
}

#scroller img.title {
  width: calc(100% - 120px);
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}

#scroller img.title.visible {
  opacity: 1;
}

#scroller ul {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  width: 2002px;
  list-style: none;
  transition: 0.5s ease-in-out;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 30s linear infinite;
}

/* @keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
} */

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
    /* Firefox bug fix */
    -webkit-transform: translateX(0%);
    /* Firefox bug fix */
    transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

#scroller ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#scroller ul span {
  display: inline-flex;
  align-items: center;
}

#scroller li {
  margin: 0;
  padding: 0 30px;
  vertical-align: top;
  /* flex-basis: 25%; */
  width: 25vw;
}

#scroller .slide .title {
  display: inline-block;
  margin-top: 15px;
  line-height: 1.6;
  font-size: 14px;
  white-space: nowrap;
}

#scroller .slide a.title {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* #scroller .slide a.title:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
} */

@media screen and (max-width: 768px) {
  #scroller {
    height: auto;
    margin-bottom: 80px;
    padding: 0 30px;
    overflow: visible;
  }

  #scroller ul {
    display: block;
    position: static;
    width: auto;
    animation: none;
  }

  #scroller ul span {
    display: block;
  }

  #scroller .slide {
    margin: 0 auto 40px;
    padding: 0;
    width: 100%;
    max-width: 455px;
  }
}

@media screen and (min-width: 1300px) {
  #scroller h1 {
    font-size: 200px;
  }
}