/* 

yellow - F7E343 | brown  - 9D6747  -- strategists
orange - FF977B | maroon - 821F3C  -- designers
red    - 821F3C | cream  - F4F4EC  -- writers
lilac  - EAACE5 | green  - 007B5F  -- digital creators
green  - 003D1E | pink   - FF9EBD  -- outline
cream  - E1D5CA | orange - FF3D29  -- outline
blue   - 64A4F8 | navy   - 1C193F  -- outline

StyreneA Light
StyreneA Regular
StyreneA Medium
SaolDisplay Semibold
SaolDisplay Light
SaolDisplay LightItalic

*/

@font-face {
  font-family: "Styrene Light";
  src: url("/StyreneA-Light.otf") format("opentype");
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Styrene A Web";
  src: url("/StyreneA-Medium-Web.eot");
  src: url("/StyreneA-Medium-Web.eot?#iefix") format("embedded-opentype"),
    url("/StyreneA-Medium-Web.woff2") format("woff2"),
    url("/StyreneA-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Styrene A Web";
  src: url("/StyreneA-Regular-Web.eot");
  src: url("/StyreneA-Regular-Web.eot?#iefix") format("embedded-opentype"),
    url("/StyreneA-Regular-Web.woff2") format("woff2"),
    url("/StyreneA-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SaolDisplay Light";
  src: url("/Saol-Display-Light.eot");
  src: url("/Saol-Display-Light.eot?#iefix") format("embedded-opentype"),
    url("/Saol-Display-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SaolDisplay LightItalic";
  src: url("/Saol-Display-Light-Italic.eot");
  src: url("/Saol-Display-Light-Italic.eot?#iefix") format("embedded-opentype"),
    url("/Saol-Display-Light-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.styrene_light {
  font-family: "Styrene Light";
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.02em;
}

.styrene_regular {
  font-family: "Styrene A Web", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  letter-spacing: 0.03em;
}

.styrene_medium {
  font-family: "Styrene A Web", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  letter-spacing: 0.08em;
}

.saol_display_light {
  font-family: "SaolDisplay Light", serif !important;
  font-weight: normal !important;
  font-style: normal;
}

.saol_display_light_italic {
  font-family: "SaolDisplay LightItalic", serif !important;
  font-weight: normal !important;
  font-style: normal;
}

.black-bg {
  background: #000000;
  color: #ffffff;
  /* background: radial-gradient(farthest-side, white 95%, transparent 100%) calc(var(--x) - .25em) calc(var(--y) - .25em)/.5em .5em fixed no-repeat;
    background-color: black; */
}

.white-bg {
  background: #f5f5f1;
  color: #f5f5f1;
}

body.loading:not(.ready) #footer .logo {
  fill: #f5f5f1;
}

* {
  /* cursor: none; */
}

#cursor {
  /* background: radial-gradient(farthest-side, black 95%, transparent 100%) calc(var(--x) - .25em) calc(var(--y) - .25em)/.5em .5em fixed no-repeat;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; */
}

body {
  /* font-family: 'SaolDisplay Light', serif; */
  font-family: "Styrene Light";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1;
  background: #f5f5f1;
  color: #000000;
  cursor: url(/cursor.svg) 0 0, default;
  transition: 0.3s;
  /* background: radial-gradient(farthest-side, black 95%, black 100%) calc(var(--x) - .55em) calc(var(--y) - .55em)/.5em .5em fixed no-repeat;
    background-color: white;
    cursor: none; */
}

button {
  font-family: inherit;
  background: inherit;
  font-size: inherit;
  font-weight: normal;
  font-style: inherit;
}

a {
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
  /* cursor: none !important; */
  z-index: 3;
}

a.line {
  position: relative;
  top: 0;
  overflow: hidden;
  transition: 0.3s;
}

a.line:after {
  content: "";
  display: inline-block;
  transition: 0.3s;
  position: absolute;
  height: 1px;
  background: transparent;
  width: 100%;
  bottom: 50%;
  /* left: 0; */
  left: -150%;
}

a.line:hover:after {
  background: black;
  /* bottom: 50%; */
  left: 0;
}

.textlink {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 1.6;
  top: 0;
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
  padding: 5px 0;
  /* border-bottom: 1px solid; */
  transition: 0.3s;
}

/* a.textlink:before {
    content: "";
    display: inline-block;
    position: absolute;
    transition: .5s;
    height: 1px;
    background: black;
    width: 100%;
    bottom: 66%;
    left: -200%;
} */

.textlink a,
.textlink span,
.textlink button,
.page#default a {
  top: 0;
  position: relative;
  transition: 0.3s;
}

.textlink:hover a,
.textlink:hover span,
.textlink button {
  top: 8px !important;
}

.textlink a:after,
.textlink span:after,
.textlink button:after,
.page#default a:after {
  content: "";
  display: inline-block;
  position: absolute;
  transition: 0.3s;
  height: 1px;
  background: black;
  width: 100%;
  bottom: -6px;
  left: 0;
}

.textlink:hover a:after,
.textlink:hover span:after,
.textlink:hover button:after,
.page#default a:hover:after {
  bottom: 50%;
}

.textlink:hover {
  /* opacity: .55; */
  border-color: transparent;
}

p.large a.textlink {
  font-family: "SaolDisplay Light", serif;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  font-size: 34px;
  line-height: 1.2;
}

p a.website_link {
  text-decoration: underline;
}

h1,
h2 {
  font-family: "SaolDisplay Light", serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 0;
}

h1.big {
  font-size: 15vw;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: 0.75s;
  opacity: 0;
  visibility: hidden;
}

h1.big.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

h2 {
  font-size: 42px;
}

h3,
h4,
h5,
h6 {
  font-family: "Styrene A Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 28px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

p.large {
  font-size: 34px;
  line-height: 1.3;
}

.nomarg {
  margin-bottom: 0 !important;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.centertext {
  text-align: center;
}

.centertext img {
  display: inline-block;
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.table.auto {
  table-layout: auto;
}

.table .cell {
  display: table-cell;
  vertical-align: middle;
}

.cols:before,
.cols:after {
  content: "";
  display: table;
}

.cols:after {
  clear: both;
}

.cols {
  *zoom: 1;
}

.cols .col {
  float: left;
}

.cols .col.four-fifths {
  width: 80%;
}

.three-fourths,
.cols .col.three-quarters {
  width: 75%;
}

.cols .col.two-thirds {
  width: 66.6666%;
}

.three-fifths {
  width: 60%;
}

.cols .col.one-half,
.one-half {
  width: 50%;
}

.two-fifths {
  width: 40%;
}

.one-third {
  width: 33.3333%;
}

.one-fourth,
.cols .col.one-quarter {
  width: 25%;
}

.cols .col.one-fifth {
  width: 20%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.flex>img {
  align-self: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  /* max-width: 1680px; */
  max-width: 2400px;
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.wrapper.skinny {
  max-width: 1400px;
}

.wrapper.x_skinny {
  max-width: 860px;
}

.wrapper.xx_skinny {
  max-width: 600px;
}

/* vertical text */
.vertical-text {
  display: inline-block;
  overflow: hidden;
  width: 1.5em;
}

.vertical-text__inner {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(5px) rotate(0deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: none;
  -ms-transform-origin: none;
  -ms-writing-mode: tb-rl;
  *writing-mode: tb-rl;
}

.vertical-text__inner:before {
  content: "";
  float: left;
  margin-top: 100%;
}

.vertical-text__inner.reverse {
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(270deg) translateX(100%);
  -moz-transform: rotate(270deg) translateX(100%);
  -o-transform: rotate(270deg) translateX(100%);
  transform: rotate(270deg) translateX(100%);
}

/**
   * article grid
   */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
   *
   */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
   *
   */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 0;
  border: none;
  background: 0 0;
  line-height: 1;
  border-bottom: 1px solid #000;
  font-family: "SaolDisplay Light", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.03em;
  width: 100%;
}

textarea {
  padding: 16px;
  line-height: 1.2;
  border: 1px solid #000;
}

a.btn {
  display: block;
  cursor: pointer;
  background: #000;
  color: white;
  border: none;
  white-space: nowrap;
  font-family: "Styrene A Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a.btn:hover {
  background: #fff;
  color: #000;
}

.container {
  background: #f5f5f1;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.25s ease-in;
  -o-transition: 1.25s ease-in;
  transition: 1.25s ease-in;
  animation: pageLoading;
  animation-duration: 1.25s;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
}

.page {
  background: #f5f5f1;
  min-height: 100vh;
  width: 100%;
}

@keyframes pageLoading {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.page>.wrapper {
  position: relative;
  z-index: 9;
  background: #f5f5f1;
}

h1.big.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.gatsby-image-wrapper.blur,
.blur {
  opacity: 0;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  transition: -webkit-filter 0.75s, opacity 0.75s;
  transition: filter 0.75s, opacity 0.75s;
  transition: filter 0.75s, -webkit-filter 0.75s, opacity 0.75s;
}

.gatsby-image-wrapper.blur.loaded,
.blur.loaded {
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
}

.page#default {
  padding: 200px 0;
}

.page#default .content {
  padding-top: 0;
  padding-bottom: 0;
}

.page#default .content>* {
  margin-bottom: 30px;
}

.page#default .content>*:last-child {
  margin-bottom: 0;
}

.page#default .content ul li {
  list-style: disc;
  font-size: 16px;
  margin-left: 15px;
}

.page#default .content h2 {
  font-family: "Styrene Light";
  font-size: 28px;
  line-height: 38px;
}

@media screen and (min-width: 1200px) {
  h1.big {
    font-size: 203px;
  }
}

@media screen and (min-width: 769px) {
  .show_768 {
    display: none !important;
  }
}

/* Base Mobile */

@media screen and (max-width: 768px) {
  .hide_768 {
    display: none !important;
  }

  .show_768 {
    display: block !important;
  }

  h1,
  h2 {
    font-size: 38px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  .textlink {
    display: block !important;
    margin-top: 3px;
  }

  .wrapper,
  .wrapper.skinny {
    padding: 0 25px;
  }

  .page#default .content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .page#default .content ul li {
    font-size: 14px;
  }

  .page#default .content h2 {
    font-family: "Styrene Light";
    font-size: 24px;
  }

  .page#default .textlink {
    font-size: 12px;
  }

  #footer {
    padding-bottom: 20px;
  }

  #footer .table,
  #footer .cell {
    display: block;
    height: auto;
    text-align: center !important;
    font-size: 10px;
    line-height: 2;
  }

  /* scroller */
  #scroller {
    height: auto;
    margin-bottom: 80px;
    padding: 0 30px;
  }

  #scroller .carousel {
    overflow: hidden;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  #scroller .carousel ul {
    display: none;
  }

  #scroller .carousel .projects {
    display: block;
  }

  #scroller .carousel .projects .slide {
    max-width: 480px;
    margin: 0 auto 40px;
  }

  /* pre-project interview */
  #interview {
    padding: 120px 0;
  }

  .interview .pagetitle {
    top: 30px;
    right: 30px;
    font-size: 16px;
    line-height: 28px;
  }

  .interview .pagetitle .pagination {
    text-align: right;
    font-size: 10px;
    margin-top: 0;
  }

  #interview {
    padding: 120px 0 0;
  }

  #interview .field .floatleft,
  #interview .field .floatright {
    width: 100%;
    float: none;
  }

  #interview .field.clearfix label {
    line-height: 30px;
  }

  #interview .field input[type="text"] {
    font-size: 18px;
  }

  #interview .cols .col {
    width: 100%;
    float: none;
  }

  #interview .slider .display {
    font-size: 18px;
  }

  #interview .nav {
    height: auto;
    position: relative;
    bottom: auto;
    left: auto;
    padding: 30px 0;
  }

  #interview .nav .cell span.next {
    width: auto;
    padding: 0 20px;
  }

  #interview .nav .cell span.previous,
  #interview .nav .cell span.next {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {

  /* pre-project interview */
  #interview label {
    font-size: 12px;
    white-space: normal;
  }

  #interview .slider .display {
    top: -12px;
    font-size: 14px;
  }

  p.large {
    font-size: 24px;
  }
}