#contact {
  padding: 275px 0;
}

#contact .wrapper {
  max-width: 1680px;
}

/* #contact>* {
  padding-bottom: 200px;
} */

#contact>*:last-child {
  padding-bottom: 0;
}

#contact .main .three-fourths {
  padding-right: 60px;
}

#contact .main p {
  font-size: 50px;
  line-height: 69px;
  padding-bottom: 215px;
}

#contact .main a {
  font-size: 16px;
  position: relative;
  bottom: 15px;
  padding-bottom: 10px;
  margin-left: 25px;
  border-bottom: 1px solid;
}

#contact .main .bottom .one-half>a {
  margin-bottom: 50px;
  display: inline-block;
}

#contact .main .bottom p,
#contact .main .bottom a {
  font-size: 20px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}

#contact .main .bottom a {
  margin-left: 0;
  position: static;
  padding: 0;
  border: 0;
}

#contact .one-fourth {
  flex: 0 0 35%;
}

@media screen and (min-width: 1500px) {
  #contact .one-fourth {
    flex: 0 0 400px;
  }
}