#home>* {
  /* padding-bottom: 25%; */
  padding-bottom: 275px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  #home>* {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 768px) {
  #home>* {
    padding-bottom: 50px;
  }

  #home .headline {
    padding-top: 150px;
    /* padding-bottom: 0;
    padding-top: 0; */
  }
}