#work {
  padding: calc(50vh - 30px) 0 200px;
  /* 30 pixels accounts for the padding on top and bottom of the masonry items */
}

#work>* {
  padding-bottom: 200px;
}

#work>*:last-child {
  padding-bottom: 0;
}

#work h1 {
  position: fixed;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 99;
  width: 33vw;
  -webkit-backface-visibility: hidden;
}

#work h1.visible {
  top: 50%;
}

#work>.wrapper {
  padding: 0 60px;
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -60px;
  /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 60px;
  /* gutter size */
  background-clip: padding-box;
}

.masonry-grid-item {
  padding: 30px 0;
}

.ril__outer {
  background-color: inherit;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
  /* max-height: calc(100vh - 250px); */
  /* width: 33.3333%; */
  max-height: 600px;
}

.ril__navButtons {
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
  z-index: 9999;
  width: 60px;
  height: 40px;
  padding: 50px 40px;
  opacity: 1;
}

.ril__navButtonPrev {
  left: 60px;
  background: url("/swiper-left.svg") no-repeat center;
  /* background-size: 50px; */
}

.white .ril__navButtonPrev {
  background: url("/swiper-left-white.svg") no-repeat center;
}

.ril__navButtonNext {
  right: 60px;
  background: url("/swiper-right.svg") no-repeat center;
  /* background-size: 50px; */
}

.white .ril__navButtonNext {
  background: url("/swiper-right-white.svg") no-repeat center;
}

.ril__closeButton {
  /* background: url("/modal-close.svg") no-repeat center !important; */
  /* background-size: 60px !important; */
  background: none !important;
  width: 40px;
  position: absolute;
  top: 68px;
  right: 60px;
  opacity: 1 !important;
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

.ril__closeButton:before,
.ril__closeButton:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #000000;
  position: absolute;
  z-index: 9999;
  top: 15px;
  right: 0;
}

.white .ril__closeButton::before,
.white .ril__closeButton::after {
  background: #ffffff;
}

.ril__closeButton:before {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.ril__closeButton:after {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.ril__caption,
.ril__toolbar {
  background-color: transparent;
}

.ril__captionContent {
  color: inherit;
}

.ril__zoomInButton,
.ril__zoomOutButton {
  display: none;
}

.ril__toolbarSide {
  padding-right: 60px;
}

.ril__caption .caption {
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 160px);
  margin: auto;
}

.ril__caption .caption span {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0;
  line-height: 1;
}

.ril__caption .caption .title {
  margin-right: 15px;
}

.ril__caption .caption .textlink {
  font-size: 12px;
  padding: 5px 0;
  position: relative;
  top: -5px;
  color: inherit;
}

.ril__caption .caption .textlink a {
  color: inherit;
}

.ril__caption .caption .textlink a:after,
.ril__caption .caption .textlink a+span:after {
  display: none;
}

.ril__caption .caption .textlink a+span {
  background: initial;
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  height: 1px;
  width: 100%;
}

.ril__caption .caption .textlink:hover a {
  top: 4px !important;
}

.ril__caption .caption .textlink:hover a+span {
  bottom: 6px;
  top: auto !important;
}

#work .mobile-modal {
  position: absolute;
  top: -375px;
  left: 0;
  z-index: 999;
  background: white;
  height: 100vh;
  width: 100%;
}

#work .mobile-modal .photo {
  position: relative;
  top: 50px;
}

#work .mobile-modal .close-container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  margin: 0 !important;
  background: linear-gradient(180deg,
      #f5f5f1,
      #f5f5f1 50%,
      rgba(245, 245, 241, 0.5) 60%,
      rgba(255, 245, 241, 0.1) 85%,
      rgba(255, 245, 241, 0),
      rgba(255, 245, 241, 0));
  height: 215px;
}

#work .mobile-modal .close-container .close {
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 25px;
  top: 47px;
}

#work .mobile-modal .close:before,
#work .mobile-modal .close:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #000000;
  position: absolute;
  z-index: 9999;
  top: 12px;
  right: 0;
}

#work .mobile-modal .close:before {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

#work .mobile-modal .close:after {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

#work .mobile-modal .wrapper {
  padding: 100px 25px;
}

#work .mobile-modal .wrapper>* {
  margin: 0;
}

.ReactModal__Body--open #nav-container {
  opacity: 0;
}

#work .slick-initialized .slick-slide,
#work .mobile-modal a {
  width: 100% !important;
  height: auto;
  margin: 25px 0;
  display: block;
}

#work .mobile-modal .spacer {
  margin: 0;
  height: 50px;
  display: block;
}

@media screen and (min-width: 1200px) {
  #work h1 {
    width: 450px;
  }
}

@media screen and (min-width: 769px) {
  /* .safari #work h1.big {
    opacity: 1 !important;
    visibility: visible !important;
    position: absolute; */
  /* left: -60px; */
  /* width: 100%;
    transform: translate3d(0, -40%, 0);
  } */
}

@media screen and (max-width: 768px) {
  #work {
    padding: 325px 0 100px;
  }

  .ReactModalPortal {
    display: none !important;
  }

  #work h1 {
    top: 200px;
  }

  /* .safari #work h1.big {
    top: -160px !important;
    position: absolute;
    transform: none;
  } */

  #work p {
    color: #000000;
    padding-top: 15px;
    margin: 0;
    text-align: center;
  }

  .ril__caption .caption {
    align-items: center;
    /* bottom: 30px; */
  }

  .ril-toolbar-left .ril-toolbar__item__child.ril__toolbarItemChild .caption span {
    transform: none !important;
  }

  .ril__closeButton {
    right: 30px;
    top: 45px;
    width: 30px;
    background-size: 70px !important;
  }

  #work>.wrapper {
    padding: 0 25px;
  }

  .masonry-grid {
    margin-left: -25px;
    /* gutter size offset */
  }

  .masonry-grid_column {
    padding-left: 25px;
    /* gutter size */
    background-clip: padding-box;
  }

  .masonry-grid-item {
    padding: 12.5px 0;
  }
}