#interview {
    padding: 200px 0;
    /* height: 100vh; */
}

#interview+.footer {
    display: none;
}

.thanks {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    animation: loading;
    animation-duration: 0.5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#interview>* {
    padding-bottom: 200px;
}

#interview>*:last-child {
    padding-bottom: 0;
}

#interview p {
    font-size: 36px;
    line-height: 44px;
}

#interview .step {
    transition: opacity .3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden
}

#interview .step.active {
    opacity: 1;
    height: auto
}

#interview fieldset {
    border: none;
    position: relative;
    z-index: 99999
}

#interview .steps,
#interview legend {
    display: none
}

#interview label {
    display: inline-block;
    white-space: nowrap;
    /* font-family: Styrene A Web, sans-serif; */
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: relative;
    top: 6px;
}

#interview label.error {
    font-size: 10px;
    color: #ff3d29;
    letter-spacing: 0;
    line-height: 1 !important;
    position: absolute
}

#interview .field {
    margin-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #000;
}

#interview .field.label {
    border: 0;
}

#interview .field .col label {
    position: absolute;
    left: 0;
    top: 21px;
    pointer-events: none;
    transform-origin: 0;
    transition: .3s;
}

#interview .field .col input:focus+label,
#interview .field .col label.slideUp {
    transform: translateY(-27px) scale(0.8);
}

input.required+span {
    font-size: 10px;
    color: #ff3d29;
    position: absolute;
    bottom: -20px;
    left: 25%
}

#interview .field .col {
    /* width: 25% */
    flex: 1;
    position: relative;

}

#interview .field .col.four {
    /* width: 75%; */
    /* width: 100%; */
    flex: 1;
    /* padding-left: 15px; */
}

#interview .field label.error {
    margin: 5px 0 0;
    bottom: -12px;
    right: 0;
    left: auto !important;
    top: auto !important;
    line-height: 1 !important
}

#interview .field.clearfix label {
    line-height: 46px
}

#interview .field input[type=email],
#interview .field input[type=tel],
#interview .field input[type=text] {
    width: 100%;
    /* margin-top: 15px; */
    font-size: 16px;
    /* height: 46px; */
    height: auto;
    /* text-indent: 15px; */
    font-family: inherit;
    border: 0;
    margin-right: 0;
    margin-left: auto;
    box-shadow: none;
    background: transparent;
    padding: 20px 0 10px;
}

#interview .field input[type=text]::placeholder,
#interview .field input[type=tel]::placeholder,
#interview .field input[type=email]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

#interview .field input[type=text]::-ms-input-placeholder,
#interview .field input[type=tel]::-ms-input-placeholder,
#interview .field input[type=email]::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

#interview .field input[type=text]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

#interview .field textarea {
    width: 100%;
    height: 165px;
    margin-top: 20px;
    resize: none;
    font-size: 16px;
    font-family: inherit;
}

#interview .field.clearfix input[type=text],
#interview .field.clearfix textarea {
    margin-top: 0
}

#interview .field input[type=email]:focus,
#interview .field input[type=tel]:focus,
#interview .field input[type=text]:focus,
#interview .field textarea:focus {
    /* background: #fff */
}

#interview .checks,
#interview .radios {
    position: relative
}

#interview .checks .field,
#interview .radios .field {
    margin-left: 34px;
    /* margin-top: 5px; */
}

#interview .check,
#interview .radio {
    display: block;
    position: relative;
    padding: 0 0 0 34px;
    /* font-family: Styrene A Web, sans-serif; */
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .06em
}

#interview .check {
    margin-bottom: 40px;
    line-height: 1.6;
}

#interview .checks label.error,
#interview .radios label.error {
    top: -15px;
    left: 0
}

#interview .check input[type=checkbox],
#interview .radio input[type=radio] {
    position: absolute;
    top: 4px;
    left: 0;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0
}

#interview .check input[type=checkbox] {
    width: 20px;
    height: 20px;
    z-index: 9;
    cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

#interview .check label.special,
#interview .radio label.special {
    position: absolute;
    top: 1px;
    left: 0;
    background: 0 0
}

#interview .check input[type=checkbox]+label.special,
#interview .radio input[type=radio]+label.special {
    width: 17px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
    border: 1px solid #000
}

#interview .radio input[type=radio]+label.special {
    border-radius: 50%
}

#interview .check input[type=checkbox]:checked+label.special,
#interview .radio input[type=radio]:checked+label.special {
    background: #000
}

#interview input[type=submit]:hover {
    border-color: transparent
}

#interview .slider {
    margin-bottom: 70px;
    padding-top: 50px;
    position: relative
}

#interview .slider .display {
    position: absolute;
    top: -9px;
    right: 0;
    font-size: 16px;
}

#interview .btn,
#interview input[type=submit] {
    display: block;
    cursor: url(http://localhost:8000/cursor-blur.png) 8.5 8.5, pointer !important;
    width: 100%;
    background: #000;
    border: 1px solid transparent;
    font-family: "Styrene Light";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

#interview .btn:hover,
#interview input[type=submit]:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

#interview .btn:disabled {
    opacity: .3;
    pointer-events: none
}

#interview .textlink a.disabled {
    opacity: .3;
    pointer-events: none;
    top: 0 !important;
}

#interview .textlink a.disabled:after {
    bottom: -6px !important;
}

#interview .textlink a.disabled:hover {
    top: 0;
}

#interview .nav {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0
}

#interview .nav .wrapper {
    max-width: none
}

#interview .nav .cell:last-child {
    text-align: right
}

#interview .nav .cell .textlink {
    line-height: 1;
    padding: 0;
}

#interview .nav .cell button.next,
#interview .nav .cell button.previous {
    text-transform: initial;
    letter-spacing: .02em;
    width: auto;
    font-family: "Styrene Light";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    padding: 8px 0;
    line-height: 1.6;
    transition: .3s;
    overflow: hidden;
    top: 0 !important;
    cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

#interview .nav .cell .textlink:hover button.next,
#interview .nav .cell .textlink:hover button.previous {
    top: 8px !important;
}

#interview .nav .cell button.next {
    display: inline-block;
    /* width: 140px; */
    text-align: center;
    line-height: 1;
    /* transition: all 50ms linear; */
    transition: .3s;
}

#interview .nav .cell button.next:hover {
    color: #000
}

#interview .nav .cell button.next:disabled {
    opacity: .75;
    pointer-events: none;
    cursor: not-allowed !important;
    position: static !important;
}


#interview .nav .cell button.next:disabled:after {
    display: none;
}

#interview h3 {
    position: absolute;
    left: -9999px
}

#interview .pagetitle {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    font-size: 16px;
    z-index: 1;
    height: 120px;
    padding-top: 30px;
    right: 0;
    margin: auto;
    text-align: center;
}

#interview .pagetitle .pagination {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-family: "Styrene Light";
    transition: .3s;
}

#interview .pagetitle .pagination.finished {
    opacity: 0;
}

#interview .input-range {
    width: calc(100% - 20px);
    margin: auto
}

#interview .input-range__label-container {
    display: none
}

#interview .input-range__track {
    height: 1px;
    background: rgba(0, 0, 0, .25)
}

#interview .input-range__track--active {
    background: #000
}

#interview .input-range__slider {
    background: #000;
    border-color: #000;
    margin-top: -9px
}

@media screen and (max-width: 768px) {
    #interview .nav {
        z-index: 99999;
    }

    #interview .pagetitle {
        top: 120px;
        right: 25px;
        font-size: 14px;
    }

    #interview label {
        font-size: 14px;
    }

    #interview .slider .display {
        top: -9px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {}