#work {
  padding: 200px 0;
}

#work > * {
  padding-bottom: 200px;
}

#work > *:last-child {
  padding-bottom: 0;
}

#work h1 {
  position: fixed;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}

#work > .wrapper {
  padding: 0 60px;
}

/* New masonry */

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -60px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 60px; /* gutter size */
  background-clip: padding-box;
}

/* [END] New masonry */

.masonry-grid-sizer,
.masonry-grid-item {
  /* width: 20%; */
}

.masonry-grid-item {
  padding: 30px 0;
}

.ril__outer {
  background-color: white !important;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
  /* max-height: calc(100vh - 250px); */
  /* width: 33.3333%; */
  max-height: 600px;
}

.ril__navButtons {
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

.ril__navButtonPrev {
  left: 60px;
  background: url("/swiper-left.svg") no-repeat center;
  background-size: 50px;
}

.ril__navButtonNext {
  right: 60px;
  background: url("/swiper-right.svg") no-repeat center;
  background-size: 50px;
}

.ril__closeButton {
  background: url("/modal-close.svg") no-repeat center !important;
  background-size: 60px !important;
  width: 40px;
  position: absolute;
  top: 68px;
  right: 60px;
  opacity: 1 !important;
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

.ril__caption,
.ril__toolbar {
  background-color: white;
}

.ril__toolbarSide {
  padding-right: 60px;
}

.ril-toolbar-left .ril-toolbar__item__child.ril__toolbarItemChild .caption {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 160px);
  margin: auto;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0;
  line-height: 1.6;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span
  span:first-child {
  margin-right: 15px;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span
  span.textlink {
  font-size: 12px;
  padding: 5px 0;
  position: relative;
  top: -6px;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span
  span.textlink
  a:after {
  bottom: -3px;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span
  span.textlink:hover
  a {
  top: 6px;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span
  span.textlink:hover
  a:after {
  bottom: 50%;
}

@media screen and (max-width: 768px) {
  .ril-toolbar-left .ril-toolbar__item__child.ril__toolbarItemChild .caption {
    align-items: center;
    bottom: 30px;
  }

  .ril-toolbar-left
    .ril-toolbar__item__child.ril__toolbarItemChild
    .caption
    span {
    transform: none !important;
  }
  .ril__closeButton {
    right: 30px;
    top: 45px;
    width: 30px;
    background-size: 70px !important;
  }
  #work > .wrapper {
    padding: 0 30px;
  }
  .masonry-grid {
    margin-left: -30px; /* gutter size offset */
  }
  .masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  .masonry-grid-item {
    padding: 15px 0;
  }
}
