#work {
  padding: 200px 0;
}

#work > * {
  padding-bottom: 200px;
}

#work > *:last-child {
  padding-bottom: 0;
}

#work h1 {
  position: fixed;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}

#work > .wrapper {
  padding: 0 42px;
}

.masonry-grid-sizer,
.masonry-grid-item {
  width: 20%;
}

.masonry-grid-item {
  padding: 18px;
}

.ril__outer {
  background-color: white !important;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
  /* max-height: calc(100vh - 250px); */
}

.ril__navButtons {
  cursor: url(/cursor-blur.png) 8.5 8.5, pointer !important;
}

.ril__navButtonPrev {
  left: 10px;
  background: url("/swiper-left.svg") no-repeat center;
  background-size: 50px;
}

.ril__navButtonNext {
  right: 10px;
  background: url("/swiper-right.svg") no-repeat center;
  background-size: 50px;
}

.ril__closeButton {
  background: url("/modal-close.svg") no-repeat center !important;
}

.ril__caption,
.ril__toolbar {
  background-color: white;
}

.ril-toolbar-left .ril-toolbar__item__child.ril__toolbarItemChild .caption {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 160px);
  margin: auto;
}

.ril-toolbar-left
  .ril-toolbar__item__child.ril__toolbarItemChild
  .caption
  span {
  margin-bottom: 8px;
}

@media screen and (max-width: 860px) {
  .ril-toolbar-left .ril-toolbar__item__child.ril__toolbarItemChild .caption {
    align-items: flex-end;
    bottom: 30px;
  }

  .ril-toolbar-left
    .ril-toolbar__item__child.ril__toolbarItemChild
    .caption
    span {
    transform: none !important;
  }
}
